<nav class="cyan" role="navigation">
    <div class="left nav-wrapper container"> 
        <span class="navbar-title">Editar Perfil</span>

       <ul id="nav-mobile" class="side-nav fixed">
            <li>
                <div class="userView">
                    <div class="background cyan">
                    </div>
                    <a href="#!user"><img class="circle" src="~/img/profile-icon.jpg"></a>
                    <a href="#!name"><span class="white-text name">Henrique Oliveira</span></a>
                    <a href="#!email"><span class="white-text email">henrique.oliverz@gmail.com</span></a>
                </div>
            </li>
            <li><a class="waves-effect waves-cyan" href="#!"><i class="material-icons">home</i> Home</a></li>
            <li><a class="waves-effect waves-cyan" href="#!"><i class="material-icons">account_circle</i> Editar Perfil</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect waves-cyan" href="#!"><i class="material-icons">exit_to_app</i>Sair</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>