@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Index";
}

<form class="login-form">
    <div class="row">
        <div class="input-field col s12 center">
            <img src="" alt="" class="responsive-img valign profile-image-login">
            <p class="center login-form-text">Boilerplate - Login</p>
        </div>
    </div>
    <div class="row margin">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="username" type="text">
            <label for="username">Usuário</label>
        </div>
    </div>
    <div class="row margin">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password">
            <label for="password">Senha</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Lembrar senha</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <a href="@Url.Action("Index", "Home")" class="btn waves-effect cyan waves-light col s12">Entrar</a>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="page-register.html">Registre-se!</a></p>
        </div>
        <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small"><a href="page-forgot-password.html">Esqueceu sua senha?</a></p>
        </div>
    </div>
</form>